body {
  background:#0b0b0b;
  color:#fff;
  font-family: Arial;
  padding:20px;
}

header {
  display:flex;
  justify-content:space-between;
}

.grid {
  display:grid;
  grid-template-columns:repeat(auto-fill,minmax(200px,1fr));
  gap:15px;
}

.card {
  background:#151515;
  padding:15px;
  border-radius:8px;
}

button {
  background:#222;
  color:#fff;
  border:none;
  padding:8px;
  cursor:pointer;
}
